*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

a {
  text-decoration: none;
}

body {
  font-family: var(--family-redHat);
  font-size: var(--font-size);
  background-color: var(--clr-pale-blue);
  background-image: url("/images/pattern-background-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-width: 768px) {
    background-image: url("/images/pattern-background-desktop.svg");
    background-position: center top;
    background-size: contain;
  }
}
