:root {
  --clr-pale-blue: hsl(225, 100%, 94%);
  --clr-bright-blue: hsl(245, 75%, 52%);
  --clr-very-pale-blue: hsl(225, 100%, 98%);
  --clr-desaturated-blue: hsl(224, 23%, 55%);
  --clr-dark-blue: hsl(223, 47%, 23%);
  --clr-white: hsl(0, 0%, 100%);

  --font-size: 16px;
  --family-redHat: "Red Hat Display", sans-serif;
  --weight-light: 500;
  --weight-bold: 700;
  --weight-bolder: 900;
}
